/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: sans-serif;
}

#infographic-container {
  width: 100%;
  position: relative;
}

#infographic-container #background-image {
  display: block;
  width: 100%;
  max-width: 100%;
}

#infographic-container .info-box {
  position: absolute;
  max-width: 8rem;
  padding: 1rem 2rem;
  background: #FFF;
  color: orangered;
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 5px 15px #888888;
}

#infographic-container .info-box h3 {
  font-size: 2em;
  font-weight: 700;
}

#infographic-container #site-buttons {
  position: absolute;
  bottom: 3rem;
  left: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
}

#infographic-container #site-buttons li {
  margin: 0.2rem 0;
}

#surgeries {
  top: 21%;
  left: 11%;
}

#births {
  top: 13%;
  left: 52%;
}

#inpatient-days {
  top: 70%;
  left: 3%;
}

#residential-care-clients {
  top: 10%;
  left: 65%;
}

#home-support-clients {
  top: 10%;
  left: 85%;
}

#home-support-visits {
  top: 24%;
  left: 85%;
}

#home-care-nursing-visits {
  top: 38%;
  left: 85%;
}

#home-care-rehab-visits {
  top: 54%;
  left: 85%;
}

#mental-health-inpatient-visits {
  top: 32%;
  left: 46%;
}

#emergency-department-visits {
  top: 58%;
  left: 33%;
}

.svg-smoke {
  position: absolute;
  animation: svg-smoke 10s infinite;
  animation-timing-function: ease-in-out;
  width: 4vw;
}

.svg-smoke .shape {
  fill: #fff;
}

#svg-smoke-1 {
  left: 50%;
  bottom: 15%;
}

#svg-smoke-2 {
  bottom: 65%;
  left: 70%;
  animation: svg-smoke 20s infinite;
}

#svg-smoke-2 .shape {
  fill: #ddd;
}

@keyframes svg-smoke {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-2rem);
  }
}
