// this file contains styles and keyframes for various SVG animations in the infographic
.svg-smoke {
	position: absolute;
	animation: svg-smoke 10s infinite;
	animation-timing-function: ease-in-out;
  width: 4%;
	path {
    fill: #fff;
	}
}

#svg-smoke-1 {
  left: 49%;
  top: 71%;
}

#svg-smoke-2 {
  left: 71%;
  top: 66%;
	animation: svg-smoke 20s infinite;
}

#svg-smoke-3 {
  left: 37%;
  top: 78%;
	animation: svg-smoke 30s infinite;
}

#svg-smoke-4 {
  left: 82%;
  top: 76%;
}

@keyframes svg-smoke {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-2rem);
	}
}

#water-splash {
  position: absolute;
  left: 61.2%;
  top: 48%;
  width: 2.5%;
  animation: water-splash 5s infinite;
}

@keyframes water-splash {
	0% {
		opacity: 0;
	}

  10% {
    opacity: 1;
  }

	20% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

#helicopter {
  position: absolute;
  top: 0;
  left: 25%;
  width: 10%;
  animation: helicopter 20s infinite;
}

@keyframes helicopter {
  0% {
    top: -15em;
  }
  25% {
    top: 0em;
  }
  50% {
    top: 0em;
  }
  75% {
    top: -15em;
  }
  100% {
    top: -15em;
  }
}
