@import 'reset.scss';
@import 'fonts.scss';
@import 'stats-positioning.scss';
@import 'menu.scss';
@import 'animation.scss';

$menu-all: #F15D3F;
$menu-vancouver: #FF822E;
$menu-richmond: #FFCF01;
$menu-coastal: #AED630;

* {
  box-sizing: border-box;
}

html {
  font-size: 12pt;
}

body {
	font-family: 'Proxima Nova', sans-serif;
  background-color: #d4dc5f;
}

#infographic-container {
	width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  hr {
    border-color: #eee;
  }

	#background {
    position: absolute;
    display: table;
    width: fit-content;
    width: -moz-fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    #hospital-colour {
      position: absolute;
      z-index: -1;
      top: 1%;
      left: 1%;
      width: 90%;
      height: 80%;
      background-color: $menu-all;
    }
    #background-image-container {
      display: table;
      box-shadow:inset 0px 0px 0px 10px #d4dc5f;
    }
    #image {
      display: block;
      max-width: 100%;
      max-height: 99vh;
    }
    #hospital-name-container {
      display: flex;
      position: absolute;
      align-items: center;
      left: 26.1%;
      top: 12.4%;
      width: 7.5%;
      height: 8.8%;
      font-size: 2.45vw;
      transform: skewY(-30.4deg);
      background-color: #F15D3F;
      color: #FFF;
      font-weight: bold;
    }
	}

	.info-box {
		h3 {
			font-size: 2em;
			font-weight: 700;
      font-family: monospace;
      color: #F15D3F;
		}
		position: absolute;
    margin: auto;
    min-width: 11em;
		max-width: 12em;
    display: table;
    font-size: 1rem;
		padding: 1em 2em;
		background: #FFF;
		color: #222;
		text-align: center;
		border-radius: 1em;
		box-shadow: 0 5px 15px #888888;
	}
  .home-info {
    position: absolute;
    right: 1em;
    top: 1rem;
    min-width: 11em;
    background: #FFF;
		color: orangered;
		text-align: center;
		border-radius: 1em;
		box-shadow: 0 5px 15px #888888;
    .info-box {
      position: static;
      box-shadow: none;
    }

  }

	#site-buttons {
		font-size: 1.3rem;
		font-weight: 600;

		li {
			margin: 0.2rem 0;
		}
	}
}


/* LINES */
.line {
   position: absolute;
   height: 5px;
   width: 50%;
   background-color: #fff;
}
.line::before {
   content: '';
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   height: 100%;
   width: 0%;
   background-color: #FFF;
   /*animation parameters*/
   animation: line-animation ease-in-out 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   animation-delay: 5s;
}
.line::after {
   content: '';
   display: block;
   position: absolute;
   top: -0.33em;
   right: 0;
   height: 1em;
   width: 1em;
   background-color: #FFF;
  border-radius: 1em;
}
.line.home {
  transform: rotate(90deg);
  width: 21%;
  top: 55%;
  left: 81%;
}

@media (max-width: 1024px) {
  html {
    font-size: 9pt;
  }
  #infographic-container {
    .info-box {
      padding: 1em 0.4em;
    }
  }
}
