$menu-all: #F15D3F;
$menu-vancouver: #FF822E;
$menu-richmond: #FFCF01;
$menu-coastal: #AED630;
$menu-north-vancouver: #739849;
$menu-squamish: #44C8F5;
$menu-powell-river: #0078AE;
$menu-sechelt: #904799;
$menu-whistler-pemberton: #F46EA5;
$green: #697687;

#menu {
  position: fixed;
  bottom: -14.9em;
  left: 5%;
  background-color: #FFF;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  width: 18rem;
  transition: bottom 0.3s;
  color: $green;
  animation: pulse 3s infinite;
  &.show {
    bottom: 0;
    #icon-plus {
      transform: rotate(45deg);
    }
  }
  img {
    float: left;
    width: 1.5rem;
  }
  h3 {
    display: inline;
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    color: #51C1AF;
  }
  .menu-header {
    display: flex;
    align-items: center;
    #icon-plus {
      position: absolute;
      right: 1rem;
      width: 1.3rem;
      transition: all 0.3s;
    }
  }
  li {
    padding-left:  calc(2rem - 5px);
    border-left-width: 5px;
    border-left-style: solid;
    transition: all 0.3s;
    &:nth-child(1) {
      border-left-color: $menu-all;
    }
    &:nth-child(2) {
      border-left-color: $menu-vancouver;
    }
    &:nth-child(3) {
      border-left-color: $menu-richmond;
    }
    &:nth-child(4) {
      border-left-color: $menu-coastal;
    }
    &:nth-child(5) {
      border-left-color: $menu-north-vancouver;
    }
    &:nth-child(6) {
      border-left-color: $menu-squamish;
    }
    &:nth-child(7) {
      border-left-color: $menu-powell-river;
    }
    &:nth-child(8) {
      border-left-color: $menu-sechelt;
    }
    &:nth-child(9) {
      border-left-color: $menu-whistler-pemberton;
    }
  }
  .menu-header,
  li {
    cursor: pointer;
  }
  li:hover {
    padding-left: calc(2rem - 15px);
    border-left-width: 15px;
  }

}
