
#surgeries {
	top: 21%;
	left: 11%;
}

#births {
	top: 13%;
	left: 48%;
}

#inpatient-days {
	top: 52%;
	left: 3%;
}

#residential-care-clients {
	top: 10%;
	left: 65%;
}

#psychiatric-unit-admissions {
	top: 32%;
	left: 46%;
}

#emergency-department-visits {
	top: 58%;
	left: 33%;
}
